// Specific CSS for your home-page
body {
  margin: 0;
}
.main-container {
  min-height: 100vh;
}
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(250, 247, 245,0.2),rgba(226, 210, 196,0.1)),
}

.banner-heading {
  margin-bottom: 10px;
  font-weight: 600;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  font-size: 60px;
}

.banner-subheading {
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 10px;
}

.banner-content {
    margin-top: 50vh;
}

.banner-form form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.featured-container {
  padding: 20px 60px 60px;
  height: 300px;
  height: auto;
}

.featured-heading {
    margin-bottom: 20px !important;
    padding-left: 15px;
}
