.booking-status {
  color: #333333;
  margin-top: 50px;
  margin-bottom: 50px;

}
.booking-info {
  .info1 {
  margin-top: 20px;
  }
}


.pet-side1 {
  margin-right: 0 !important;
  height: calc( 100vh - 300px );
  overflow: hidden;
  display: block;
  background-position: center;
  background-size: cover;
  width: 40%;
}

.links1 {
  margin-right: 50px;
}
