.show-container {
  display: flex;
  height: calc( 100vh - 170px );
}

.pet-side {
  margin-right: 0 !important;
  height: calc( 100vh - 170px );
  width: auto;
  overflow: hidden;
  display: block;
}

.pet-hero {
  margin: auto;
  height: 400px;
  width: auto;
  display: block;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  border: solid rgba(0,0,0,0.1) 0px;
  border-radius: 6px;
  min-height: 360px;
  margin: 15px 0;
  background-color: #fff;
  &:hover {
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.15);
  }
  &-image {
    height: 180px;
    background-position: center;
    background-size: cover;
    width: 100%;
    // transform: rotate(-8deg);
    // position: absolute;
  }
  &-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 10px;
    color: rgba(0,0,0,0.9);
    &-item {
      padding: 0 10px;
    }
  }
  &-subheading {
    text-align: center;
    color: silver;
    font-weight: 300;
    padding: 0 20px;
  }
}

.info {
  margin-top: 30px;
  width: 200px;
  height: 100px;
  p {
    font-size:20px;
    color:#333333;
  }
}
.links {
  display: flex;
  justify-content: space-around;
}
body {
  background-color:rgb(240,240,240);
}

