
<div><h2>Pet Pal booking cancelled</h2></div>
<br>
<div><h3> We are sorry you couldn't play with your Pet Pal.</h3></div>
<br>
<div> <%= link_to 'Why not choose another Pet Pal?', pets_path, class:"btn btn-success" %></div>

