<div class="nav-pp">
  <div class="search-cont-nav-pp">
    <img class="logo-nav-pp" src="ccc.com" alt="">
    <input class="search-nav-pp" type="text" name="" value="">
  </div>
    <ul class="menu-nav-pp">
      <li class="menu-item-nav-pp">
        <%= link_to "New pet", new_pet_path %>
      </li>
      <li class="menu-item-nav-pp">
        <%= link_to "New pet", new_pet_path %>
      </li>
      <li class="menu-item-nav-pp">
        <%= link_to "Sign up", new_user_path %>
      </li>
    </ul>
</div>

