<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  We want to display here:
  <ul>
    <li>cards of animals - how do we display them all here in the root?</li>
    <li>trending?</li>
  </ul>
</div>
