.footer-pp {
  background-color: #07617D;
  display: flex;
  color: #fff;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links i {
  padding: 0px 10px;
}
