/* Main navbar */
.nav-pp {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  // transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-cont-nav-pp {
  display: flex;
  align-items: center;
}

.logo-nav-pp {
  height: 50px;
}

.menu-nav-pp {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu-item-nav-pp {
  padding: 4px 8px;
  list-style-type: none;
}
